.container{
    padding: 10px 0;
    margin-top: 20px;
    background-color: #fff;
    height: 220px;
    display: flex;

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card{
    border-radius: 15px;
}
.card-body{
    padding: 24px;

}
.image{
    width: 180px;
    border-radius: 10px;

}
.counter{
    padding: 22px 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(25,31,0,125);

}
