
.user-card{
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
}
.gradient{
    background-image: linear-gradient(to bottom, #FFFDD0, #f0f0f0);
}
.profile-down{
    margin-top: 20px;
}
.profile-title{
    font-size: 24px;
    font-weight: 600;
}

.signout_container{
    display: flex;
    height: 50px;
    margin: auto;
}

.signout{
    display: flex;
    justify-items: left;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: #fff;
    background: #94aa5b;
    border-radius: 55px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}